@*
  * Copyright 2015 Matthew Cosand
*@
<div class="overlay" data-bind="visible: loading"><h1>Loading ...</h1></div>
<table class="table table-condensed table-striped table-bordered" id="ccTable">
  <thead><tr><th class="hidden-xs">Competency</th><th class="text-center">Classroom</th><th class="text-center">Written</th><th class="text-center">Performance</th></tr></thead>
  <tbody>
    <tr class="visible-xs"><th colspan="3">ICS-100</th></tr>
    <tr><th class="hidden-xs">ICS-100</th>@CCStatus("ICS-100", true)</tr>
    <tr class="visible-xs"><th colspan="3">ICS-700</th></tr>
    <tr><th class="hidden-xs">ICS-700</th>@CCStatus("ICS-700", true)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Clues</th></tr>
    <tr><th class="hidden-xs">Core/Clues</th><td></td>@CCStatus("Core/Clues.WE", false)<td></td></tr>
    <tr class="visible-xs"><th colspan="3">Core/CPR</th></tr>
    <tr><th class="hidden-xs">Core/CPR</th>@CCStatus("Core/CPR", true)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Crime</th></tr>
    <tr><th class="hidden-xs">Core/Crime</th>@CCStatus("Core/Crime.C", false)@CCStatus("Core/Crime.WE", false)<td></td></tr>
    <tr class="visible-xs"><th colspan="3">Core/FirstAid</th></tr>
    <tr><th class="hidden-xs">Core/FirstAid</th>@CCStatus("Core/FirstAid", true)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Fitness</th></tr>
    <tr><th class="hidden-xs">Core/Fitness</th><td></td>@CCStatus("Core/Fitness.WE", false)<td></td></tr>
    <tr class="visible-xs"><th colspan="3">Core/GPS</th></tr>
    <tr><th class="hidden-xs">Core/GPS</th><td></td>@CCStatus("Core/GPS.WE", false)@CCStatus("Core/GPS.PE", false)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Helo</th></tr>
    <tr><th class="hidden-xs">Core/Helo</th>@CCStatus("Core/Helo.C", false)@CCStatus("Core/Helo.WE", false)<td></td></tr>
    <tr class="visible-xs"><th colspan="3">CoreLegal</th></tr>
    <tr><th class="hidden-xs">Core/Legal</th>@CCStatus("Core/Legal.C", false)@CCStatus("Core/Legal.WE", false)<td></td></tr>
    <tr class="visible-xs"><th colspan="3">Core/Management</th></tr>
    <tr><th class="hidden-xs">Core/Management</th><td></td>@CCStatus("Core/Management.WE", false)<td></td></tr>
    <tr class="visible-xs"><th colspan="3">Core/Nav</th></tr>
    <tr><th class="hidden-xs">Core/Nav</th><td></td>@CCStatus("Core/Nav.WE", false)@CCStatus("Core/Nav.PE", false)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Radio</th></tr>
    <tr><th class="hidden-xs">Core/Radio</th><td></td>@CCStatus("Core/Radio.WE", false)@CCStatus("Core/Radio.PE", false)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Rescue</th></tr>
    <tr><th class="hidden-xs">Core/Rescue</th><td></td>@CCStatus("Core/Rescue.WE", false)@CCStatus("Core/Rescue.PE", false)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Safety</th></tr>
    <tr><th class="hidden-xs">Core/Safety</th><td></td>@CCStatus("Core/Safety.WE", false)@CCStatus("Core/Safety.PE", false)</tr>
    <tr class="visible-xs"><th colspan="3">Core/SearchTech</th></tr>
    <tr><th class="hidden-xs">Core/SearchTech</th><td></td>@CCStatus("Core/SearchTech.WE", false)@CCStatus("Core/SearchTech.PE", false)</tr>
    <tr class="visible-xs"><th colspan="3">Core/Survival</th></tr>
    <tr><th class="hidden-xs">Core/Survival</th><td></td>@CCStatus("Core/Survival.WE", false)@CCStatus("Core/Survival.PE", false)</tr>
  </tbody>
</table>

@helper CCStatus(string name, bool span)
{
  HtmlString spanMarkup = span ? new HtmlString(" colspan=\"3\"") : new HtmlString(string.Empty);
  <td data-bind="text: getText(expirations(), '@name')" class="text-center" @spanMarkup></td>
}