@*
 * Copyright 2015 Matthew Cosand
 *@
@Base.ErrorPanel()
<form class="form-horizontal" data-bind="submit: doSubmit" method="post">
  @Base.TextField("title", @Strings.EventTitle, @Strings.EventTitle, "col-sm-3 col-md-2", "col-sm-9 col-md-10")
  @Base.TextField("start", @Strings.EventStartTime, "yyyy-mm-dd hh:mm", "col-sm-3 col-md-2", "col-sm-9 col-md-10")
  <div class="form-group" data-bind="css: { 'has-error': isActive.error() }">
    <label class="col-sm-3 col-md-2 control-label"></label>
    <div class="col-sm-9 col-md-10">
      <label class="checkbox-text">
        <input type="checkbox" data-bind="checked: isActive, enable: isActive.enabled" />
        Is Active
      </label>
      <span class="help-block" data-bind="text: isActive.error()"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-default" data-bind="disable: working">
        Create <!--ko text: eventType--><!--/ko-->
        <span class="fa fa-spin fa-circle-o-notch" style="display:none" data-bind="visible: working"></span> 
      </button>
    </div>
  </div>
</form>
