<table class="table table-condensed">
  <thead>
    <tr><th>Title</th></tr>
  </thead>
  <tbody data-bind="foreach: items">
    <tr><td><span data-bind="text: title"></span></td></tr>
  </tbody>
</table>
@*<form class="form-horizontal" data-bind="submit: doSubmit" method="post">
  @Base.TextField("username", @Strings.Username, @Strings.Username, "col-sm-3 col-md-2", "col-sm-9 col-sm-10")
  @Base.PasswordField("password", @Strings.Password, @Strings.Password, "col-sm-3 col-md-2", "col-sm-9 col-sm-10")
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
      <div class="row">
        <div class="col-xs-5">
          <input type="hidden" name="rememberMe" value="false" />
          <button type="submit" class="btn btn-default" data-bind="disable: working">
            @Strings.Login
            <span class="fa fa-spin fa-circle-o-notch" style="display:none" data-bind="visible: working"></span>
          </button>
        </div>
        <div class="col-xs-7 text-right" data-bind="visible: showLinks" style="display:none">
          <div><small>@(Html.ActionLink<AccountController>(f => f.Register(), Strings.AccountRegisterNew))</small></div>
          <div><small>@(Html.ActionLink<AccountController>(f => f.ResetPassword(string.Empty), Strings.AccountForgotPassword))</small></div>
        </div>
      </div>
    </div>
  </div>
</form>*@
