@{ 
  ViewBag.NgModules = ViewBag.NgModules ?? new List<string>();
  ViewBag.NgModules.AddRange(new[] { "editModals", "ng-pros.directive.autocomplete" });
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" @(ViewBag.NgApp != null ? new HtmlString("ng-app=\"" + ViewBag.NgApp + "\"") : new HtmlString(string.Empty))>
<head>
  <!-- Force latest IE rendering engine or ChromeFrame if installed -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes" name="viewport">
  <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />
  <title>@ViewData["Title"] - @Strings.DatabaseName</title>
  <script type="text/javascript">window.appRoot = '@Url.Content("~/")'; var errorUrl = '@Url.RouteUrl("DefaultApi", new { httproute="", Controller = "telemetry", Action="error" })';</script>
  @Styles.Render("~/Content/bootstrap")
  @Scripts.Render("~/scripts/ng-core")
  <script type="text/javascript">angular.module('sarDatabase', @Html.ToJson((object)(ViewBag.NgModules ?? new object[0])));</script>
  @Scripts.Render("~/scripts/ng-site")

  @RenderSection("head", false)
</head>
@RenderBody()
</html>
