@*
  * Copyright 2015 Matthew Cosand
*@
<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@(ViewData["Title"] ?? ViewBag.Title)</title>
  @Styles.Render("~/Content/site-next")
  @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @(Html.ActionLink<HomeController>(f => f.Index(), Strings.DatabaseName, new { @class = "navbar-brand" }))@*
 * Copyright 2015 Matthew Cosand
 *@
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @if (User.Identity.IsAuthenticated)
          {
            <li><a href="#">Units</a></li>
          }
        </ul>

        <ul class="nav navbar-nav navbar-right">

          @if (User.Identity.IsAuthenticated)
          {
            var userName = ((ProfileCommon)Profile).FirstName;
            if (string.IsNullOrWhiteSpace(userName)) { userName = User.Identity.Name; }
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@userName <small><i class="fa fa-user fa-2x" style="position:relative;margin-top:-8px; bottom:-4px"></i></small></a>
              <ul class="dropdown-menu" role="menu">
                <li>@(Html.ActionLink<AccountController>(f => f.Logout(), Strings.LogoutPrompt))</li>
              </ul>
            </li>
          }
          else
          {
            <li>@(Html.ActionLink<AccountController>(f => f.Login(), Strings.LoginPrompt))</li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid body-content">
    @RenderBody()
    <hr />
    <footer>
      <p></p>
    </footer>
  </div>

  @Scripts.Render("~/scripts/core-next")
  @RenderSection("scripts", required: false)
</body>
</html>