@{ 
  ViewBag.NgModules = ViewBag.NgModules ?? new List<string>();
  ViewBag.NgModules.AddRange(new[] { "editModals", "ng-pros.directive.autocomplete" });
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" @(ViewBag.NgApp != null ? new HtmlString("ng-app=\"" + ViewBag.NgApp + "\"") : new HtmlString(string.Empty))>
<head>
  <!-- Force latest IE rendering engine or ChromeFrame if installed -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes" name="viewport">
  <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />
  <title>@ViewData["Title"] - @Strings.DatabaseName</title>
  <script type="text/javascript">window.appRoot = '@Url.Content("~/")'; var errorUrl = '@Url.Content("~/api/telemetry/error")';</script>
  @Styles.Render("~/Content/bootstrap")
  @Scripts.Render("~/scripts/ng-core")
  <script type="text/javascript">
    var atoken = @{ 
        var user = User as System.Security.Claims.ClaimsPrincipal;
        var token = user == null ? null : (user.FindFirst("access_token") == null ? null : user.FindFirst("access_token").Value);
        <text>@(new HtmlString(token == null ? "null" : "'" + token + "'"))</text>;
      };
      angular.module('sarDatabase', @Html.ToJson((object)(ViewBag.NgModules ?? new object[0]))).run(function($http) {
        if (atoken) $http.defaults.headers.common.Authorization = 'Bearer ' + atoken;
      });;
  </script>
  @Scripts.Render("~/scripts/ng-site")

  @RenderSection("head", false)
</head>
<body class="skin-yellow sidebar-mini" @(ViewBag.NgController != null ? new HtmlString("ng-controller=\"" + ViewBag.NgController + "\"") : new HtmlString(string.Empty))>
  <div class="wrapper">
    @RenderBody()
  </div>
  @RenderSection("scripts", false)
  <script type="text/javascript">
  $(document).ready(function() {
  $.AdminLTE.layout.activate()
  })
  </script>
  @if (ViewBag.GoogleAnalytics != null)
  {
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '@ViewBag.GoogleAnalytics', 'auto');
  ga('send', 'pageview');

  </script>
  }
</body></html>
