<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" @(ViewBag.NgApp != null ? new HtmlString("ng-app=\"" + ViewBag.NgApp + "\"") : new HtmlString(string.Empty))>
<head>
  <!-- Force latest IE rendering engine or ChromeFrame if installed -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
  <title>@ViewData["Title"]</title>
  <script type="text/javascript">window.appRoot = '@Url.Content("~/")'; var errorUrl = '@Url.RouteUrl("DefaultApi", new { httproute="", Controller = "telemetry", Action="error" })';</script>
  @Styles.Render("~/Content/bootstrap")
  @*<link href="@BundleTable.Bundles.ResolveBundleUrl("~/style/print")" rel="stylesheet" type="text/css" media="print" />*@
  @Scripts.Render("~/scripts/ng-core")
  @RenderSection("head", false)
  @*<asp:ContentPlaceHolder ID="HeadContent" runat="server" />*@
</head>
<body class="skin-green sidebar-mini" @(ViewBag.NgController != null ? new HtmlString("ng-controller=\"" + ViewBag.NgController + "\"") : new HtmlString(string.Empty))>
  @*<div class="wrapper">
    @RenderBody()
  </div>*@
  @RenderBody()
  @*@Html.Image("~/Content/images/progress.gif", new { id="progressbar", style="visibility:hidden; position:absolute;" })
  <div id="formsDelete" title="Delete {0}" style="display: none;">
    <form action="#">
      <fieldset>
        Delete <span id="formsDeleteTitle">{object}</span>. Are you sure?
      </fieldset>
    </form>
  </div>
  <div id="formsLogin" title="Login" style="display: none;">
    <form action="#">
      <p>
        Your session has timed out, or you do not have permission for this operation. Please enter
        your username and password, then retry your operation.
      </p>
      <fieldset>
        <label for="username">Username</label>
        <input type="text" name="username" id="formsUsername" class="text ui-corner-all" />
        <label for="password">Password</label>
        <input type="password" name="password" id="formsPassword" class="text ui-corner-all" />
      </fieldset>
    </form>
  </div>*@
  @RenderSection("scripts", false)
  <script type="text/javascript">
  $(document).ready(function() {
  $.AdminLTE.layout.fix()
  })
  </script>
</body></html>
