@*
  * Copyright 2015 Matthew Cosand
*@
@{
  ViewBag.Title = Strings.DatabaseName + " ";
  ViewBag.PageModelRequire = "PageModel";
  ViewBag.PageData = new Dictionary<string, string> {
    { "initial-tab", "roster" },
    { "event-id", ViewBag.EventId.ToString() },
    { "controller-name", ViewBag.ControllerName }
  };
}
<div class="row" data-bind="with:page" style="padding-left:15px; padding-right:15px;">
  <div class="col-xs-12 overlay-container" style="margin-bottom:1em; border: solid 1px #ccc; border-radius:9px;">
    <div class="overlay" data-bind="visible: topInfo.loading">LOADING !!!</div>
    <div class="row" data-bind="with:topInfo">
      <!-- ko if: $data -->
      <div class="col-xs-12">
        <h2 data-bind="text: title"></h2>
        <div data-bind="text: '@Strings.IdNumber: ' + idNumber"></div>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>
<ul class="nav nav-tabs" data-bind="with:page">
  <li role="presentation" data-bind="css: { active: activeTab() == 'roster' }"><a href="#" data-bind="click:pickTab" data-tab="roster">Roster</a></li>
  <li role="presentation" data-bind="css: { active: activeTab() == 'timeline' }"><a href="#" data-bind="click:pickTab" data-tab="timeline">Timeline</a></li>
  <li role="presentation" data-bind="css: { active: activeTab() == 'documents' }"><a href="#" data-bind="click:pickTab" data-tab="documents">Documents</a></li>
  <li role="presentation" class="dropdown" data-bind="css: { active: isOtherTab }">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Other <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right" role="menu">
      <li class="pull-right"><a href="#" data-bind="click:pickTab" data-tab="other_map">Map</a></li>
    </ul>
  </li>
</ul>
<!-- ko with: page -->
<div data-bind="fadeVisible: activeTab() == 'roster', if: activeTab() == 'roster'" class="tab-pane">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">@Strings.ResourceManager.GetString("Event_Roster" + ViewBag.ControllerName)</div>
        <!-- ko component: { name: 'event-roster', params: {eventId: eventId, api: '@Url.Content("~/api/" + @ViewBag.ControllerName + "/Roster/")' }} -->
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
<div data-bind="fadeVisible: activeTab() == 'timeline', if: activeTab() == 'timeline'" style="display:none" class="tab-pane">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary overlay-container">
        <div class="panel-heading">Timeline</div>
        <!-- ko component: { name: 'event-timeline', params: {eventId: eventId, api: '@Url.Content("~/api/" + @ViewBag.ControllerName + "/timeline/")', topInfo: topInfo }} -->
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
<!-- /ko -->
@section scripts {
  <script type="text/javascript">
    define('PageModel', ['knockout', 'moment', 'site/utils'], function PageModel(ko, moment, utils) {
      return function (params) {
        var self = this;
        var paneResources = {
          roster: ['site/components/event-roster'],
          timeline: ['site/components/event-timeline'],
        };

        self.eventId = $('body').data('eventId');
        self.controllerName = $('body').data('controllerName');

        self.activeTab = ko.observable();
        self.isOtherTab = ko.computed(function() { return self.activeTab() && self.activeTab().substring(0,5) == "other" });
        self.topInfo = ko.observable();
        self.topInfo.loading = ko.observable(true);

        self.switchTab = function (newTab) {
          if (paneResources[newTab]) {
            require(paneResources[newTab], function () {
              self.activeTab(newTab);
            });
          } else {
            self.activeTab(newTab);
          }
        }

        self.pickTab = function (newTab, evt) {
          if (evt) newTab = $(evt.currentTarget).data('tab') || "";
          self.switchTab(newTab);
          window.location.hash = '#!' + newTab;
        }

        self.load = function loadEvents() {
          self.topInfo.loading(true);
          utils.getJSON('/api/' + self.controllerName + '/Overview/' + self.eventId)
          .done(function (data) {
            data.start = new moment(data.start);
            self.topInfo(data);
          })
          .fail(function (err) { utils.handleServiceError(err, self); })
          .always(function () { self.topInfo.loading(false); });
        };

        var initialTab = utils.hashBangInit($('body').data('initialTab'), self.switchTab);
        self.switchTab(initialTab);
      };
    });
  </script>
}
