@model Kcsara.Database.Web.Models.EventSummary
@{
  ViewBag.Title = "Event Details";
  ViewBag.NgController = "EventViewCtrl";
  ViewBag.NgModules = new[] { "ngFileUpload" };
  ViewBag.Requires = new[] { "controllers/events/event-view", "ng-file-upload" };
  bool canEdit = true;
}
@section header {
  <h1>@Model.StateNumber @Model.Name</h1>
  <div>@Model.Location</div>
  <div>@Model.Start.ToString("MMM dd yyyy")</div>
}
<md-tabs md-dynamic-height md-border-bottom class="md-whiteframe-4dp">
  <md-tab label="@ViewBag.EventTypeText" md-active="activeTab == 'info'" md-on-select="setTab('info')">
    <md-content class="md-padding">
      <h1 class="md-display-2">@ViewBag.EventTypeText</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
    </md-content>
  </md-tab>
  <md-tab label="Roster" md-active="activeTab == 'roster'" md-on-select="setTab('roster')">
    <md-content class="md-padding" ng-controller="EventRosterCtrl" ng-init="init('@ViewBag.EventRoute', '@Model.Id')" ng-if="activeTab == 'roster'">
      @*<div ng-cloak ng-if="can.create" ng-click="startCreate()" class="shadow-3" style="position:fixed; bottom:1.5em; right: 1.5em; cursor:pointer; border-radius:50%; background-color: #f39c12; z-index:1000"><i class="fa fa-2x fa-plus" style="color:white; padding:.4em .4em .3em .4em"></i></div>*@
      <md-list>
        <md-list-item ng-if="roster.length == 0">No responders.</md-list-item>
        <md-list-item ng-repeat="item in roster" ng-click="setCurrent(item)" class="list-item-tight" ng-class="{'md-whiteframe-2dp': item.id == current.id}">
          <div style="margin-bottom:auto;">
            <img ng-if="item.photo" ng-src="{{window.ajaxRoot + '/photos/' + item.photo}}" alt="{{item.name}} file icon" class="md-avatar" />
            <div ng-if="!item.photo" class="md-avatar" style="background-color:#7c4297; color:white; text-align:center; font-size:20px;"><div style="position: relative; top: 50%; transform: translateY(-50%);">{{item.firstName[0] + item.lastName[0]}}</div></div>
          </div>
          <div ng-if="item.id != current.id" ng-class="item.status" class="event-view-status" style="height:56px; width:6px">
          </div>
          <div style="width:100%">
            <h4>{{item.firstName}} {{item.lastName}}</h4>
            <div ng-if="item.id == current.id" class="row">
              <div class="col-xs-12 col-sm-6">
                <div ng-if="item.unit">Unit: {{item.unit.name}}</div>
                <div>Status: {{item.statusText}}</div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <strong>Timeline:</strong>
                <div ng-if="current.timeline.loading"><i class="fa fa-refresh fa-spin"></i></div>
                <ul>
                  <li ng-repeat="t in current.timeline">{{t.time.format('HHmm YYYY-MM-DD')}} {{t.status}}<span ng-if="t.role"> as {{t.role}}</span><span ng-if="t.unit"> with {{t.unit.name}}</span></li>
                </ul>
                <div ng-if="current.awards.loading"><i class="fa fa-refresh fa-spin"></i></div>
                <div ng-if="current.awards.length">
                  <strong>Completed Training:</strong>
                  <ul>
                    <li ng-repeat="a in current.awards">{{a.course.name}}</li>
                  </ul>
                </div>
              </div>
              @*<md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="startUpdateStatus(current); $event.stopPropagation()">Update Status</md-button>
                </md-card-actions>*@
            </div>
          </div>
          <div ng-if="item.id != current.id" class="md-secondary hidden-xs text-right">Hours: {{item.hours | number:2}}<br /><span ng-if="item.miles">Miles: {{item.miles | number}}</span></div>
        </md-list-item>
      </md-list>
    </md-content>
    <div ng-if="roster.loading" class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </md-tab>
  <md-tab label="Log" md-active="activeTab == 'log'" md-on-select="setTab('log')">
    <md-content class="md-padding" ng-controller="EventLogCtrl" ng-init="init('@ViewBag.EventRoute', '@Model.Id')" ng-if="activeTab == 'log'">
      @if (canEdit)
      {
        <div ng-cloak ng-if="can.create" ng-click="startCreate()" class="shadow-3" style="position:fixed; bottom:1.5em; right: 1.5em; cursor:pointer; border-radius:50%; background-color: #f39c12; z-index:1000"><i class="fa fa-2x fa-plus" style="color:white; padding:.4em .4em .3em .4em"></i></div>
      }
      <md-list>
        <md-list-item ng-if="logs.length == 0">No log entries.</md-list-item>
        <div ng-repeat="day in logs">
          <md-subheader>{{dateText(day.date)}}</md-subheader>
          <md-list-item ng-repeat="item in day.logs" ng-click="openLog(item, false)" class="list-item-tight">
            <div style="vertical-align:top"><strong>{{item.time.format('HHmm')}}</strong></div>
            <div style="padding:0em 0em 1em 1em">{{item.message}}</div>
          </md-list-item>
        </div>
      </md-list>
    </md-content>
  </md-tab>
  @*<md-tab label="Map"></md-tab>
    <md-tab label="Subjects"></md-tab>*@
  <md-tab label="Documents" md-active="activeTab == 'documents'" md-on-select="setTab('documents')">
    <md-content class="md-padding" ng-controller="EventDocsCtrl" ng-init="init('@ViewBag.EventRoute', '@Model.Id')" ng-if="activeTab == 'documents'">
      @{ var docEdit = Html.Raw(""); }
      @if (canEdit)
      {
        docEdit = Html.Raw("ng-click=\"editDoc(item)\"");
        <div ng-cloak ng-if="can.create" ng-click="startCreate()" class="shadow-3" style="position:fixed; bottom:1.5em; right: 1.5em; cursor:pointer; border-radius:50%; background-color: #f39c12; z-index:1000"><i class="fa fa-2x fa-plus" style="color:white; padding:.4em .4em .3em .4em"></i></div>
      }
      <md-list>
        <md-list-item ng-if="documents.length == 0">No documents.</md-list-item>
        <md-list-item ng-repeat="item in documents" ng-click="editDoc(item)" class="list-item-tight" ng-class="{'md-whiteframe-2dp': item.id == current}">
          <img ng-src="{{item.thumbUrl}}" alt="{{item.mime}} file icon" class="md-avatar" style="border-radius:0" />
          <div class="md-list-item-text">
            <h4>{{item.filename}}</h4>
            <div>{{item.description}}</div>
            <div>{{item.size}}</div>
          </div>
          <div ng-click="downloadDoc(item.id)" aria-label="Download" class="md-secondary md-primary">
            <i class="fa fa-download fa-2x"></i>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-tab>
</md-tabs>
