@{
  ViewBag.Title = "Training";
}
@section header {
  <h1>Training</h1>
}
<div class="row">
  <div class="col-sm-8 col-xs-12">
    <div class="box box-primary">
      <div class="box-body">
        <ul>
          @*<li>
            @(Html.ActionLink<TrainingController>(x => x.CourseList(null, null, null, null), "Course List"))
          </li>*@
          <li>
            <a asp-action="List">Past Trainings (Rosters)</a>
          </li>
          @*<li>@(Html.ActionLink<TrainingController>(x => x.RequiredTrainingReport(), "Required Training Report") )</li>
          <li>@(Html.ActionLink<TrainingController>(x => x.CoreCompReport(null), "Core Competency Report (all members)") )</li>
          @if (User.IsInRole("cdb.trainingeditors")) {
          <li>@(Html.ActionLink<TrainingController>(x => x.Rules(), "View Training Equivalencies"))</li>
          <li>@(Html.ActionLink<TrainingController>(x => x.RecalculateAwards(null), "Recalculate Awarded Trainings")) - Slow (Takes minutes).</li>
          }
          @if ((bool)ViewData["showESAR"])
          {
            <li style="margin-top:1em;">@(Html.ActionLink<TrainingController>(x => x.IstTrainingReport(null, null), "SAR IST Training Report"))</li>
            <li style="margin-top:1em;">@(Html.ActionLink<TrainingController>(x => x.SpartTrainingReport(null, null), "SPART Training Report"))</li>
            <li style="margin-top:1em;">@(Html.ActionLink<TrainingController>(x => x.EsarTrainingReport(), "ESAR Training Report"))</li>

            <li>
              Eligible Emails:
              <a href="@Url.Action("EligibleEmails", "Training")/?eligibleFor=c21822d9-fafb-4ad8-a30a-168b2f139e82&haveFinished=ce320813-6641-413e-b811-1ccc4f112cf2">Course B</a>
              <a href="@Url.Action("EligibleEmails", "Training")/?eligibleFor=1a819ef3-a281-4b4e-a68b-3f920329d317&haveFinished=c21822d9-fafb-4ad8-a30a-168b2f139e82">Course C</a>
              <a href="@Url.Action("EligibleEmails", "Training")/?eligibleFor=d10f2fb4-c920-4ef0-8b33-a2ce97416b2b&haveFinished=1a819ef3-a281-4b4e-a68b-3f920329d317">Course I</a>
              <a href="@Url.Action("EligibleEmails", "Training")/?eligibleFor=2728797e-f4d5-4b29-bf69-076a9c5e0ae7&haveFinished=d10f2fb4-c920-4ef0-8b33-a2ce97416b2b">Course II</a>
              <a href="@Url.Action("EligibleEmails", "Training")/?eligibleFor=e7626c46-a494-4954-ab68-fe46c1a680d4&haveFinished=2728797e-f4d5-4b29-bf69-076a9c5e0ae7&haveFinished=6D826AB0-0802-47AA-9C4E-833B39F863EC&haveFinished=7F104382-FC66-4A8A-8A38-A72DEF66716A">Course III</a>
            </li>
          }*@
        </ul>
      </div>
    </div>
  </div>
</div>
